.active-space-container {
  width: 25%;
  height: calc(100vh - 42px);
    
  @media (max-width: 650px) {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50%;
  }

  &.double {
    width: 50%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 650px) {
      height: calc(100vh - 42px);
      width: 100%;

      + .map-container-directions {
        display: none;
      }

      .active-space-info {
        width: 100%;
        display: block;
      }
    }
  }

  .active-space-info {
    padding:10px;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: space-between;

    @media (max-width: 650px) {
      height: 100%;
      
      .ui.items {
        .item {
          flex-direction: row!important;
          margin: 1em 0;

          .image {
            max-width: 20%!important;
            margin-left: 0;
  
            + .content {
              padding-left: 1em;
            }
          }
        }
      }

      .info {
        img {
          width: 75px
        }
      }
    }

    .parked-buttons a {
      margin: 10px;

      .ui.fluid {
        margin: 0px;
      }
    }

    .ui.fluid {
      margin: 10px 0px
    }
  }

  .active-space-chattable {
    width:50%;

    @media (max-width: 650px) {
      width:auto;
    }

    .ui.card {
      height: 90vh;
      justify-content: flex-end;

      @media (max-width: 650px) {
        height: 50%;  
        width:100%;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .map-container-directions {
    width: 100%;
    height: 48%;
    position: absolute;
    top: -10px;
  }
}