@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

.login-page {
  display: flex;
  flex-direction: row-reverse;

  @media (max-width: 650px) {
    background: url(https://img.freepik.com/free-vector/silhouette-skyline-illustration_53876-78792.jpg?size=626&ext=jpg) no-repeat bottom;  
  }

  .form-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .login-form {
      width: 50%;
      align-self:center;
      margin:10%;

      @media (max-width: 650px){
        width: auto;
      }

      .ui.form .field {
        width: 100%;
      }

      .ui.error {
        .header {
          margin-right: 10px;
        }
      }

      .google-login-container {
        display: flex;
        justify-content: center;
       
        button.google-login {
          opacity: 1!important;
          border: 1px solid #e0e1e2!important;
          box-shadow: rgb(208, 200, 200) 0px 0px 5px 1px!important;
        }
      }
    }

    .main-title {
      font-family: 'Righteous', cursive;
      font-size: 35pt;
      text-transform: uppercase;
    }
  }

  > div:nth-of-type(2) {
    width: 60%!important;
    height:747px!important;
  }
}

@media screen and (max-width: 750px) {
  .login-page {
    flex-direction: column;
    
    .form-container {
      width:100%;
      height: 600px;

      .ui.button {
        width: 100%;
      }
    }


    > div:nth-of-type(2) {
      width: 100%!important;
      height: auto!important;
    }
  }
}