@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

.App {
  text-align: center;
}

.mapMarkerStyle {
  background-color: blue;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  left: -0.5rem;
  top: -0.5rem;
  position: relative;
  border-radius: 1.5rem 1.5rem 0;
  transform: rotate(45deg);
  border: 1px solid #FFFFFF;
}

.mapUserMarkerStyle {
  background-color: black;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  left: -0.5rem;
  top: -0.5rem;
  position: relative;
  border-radius: 1.5rem 1.5rem 0;
  transform: rotate(45deg);
  border: 1px solid #FFFFFF;
}

.mapMarkerStyle::after {
  position: 'absolute';
  content: '';
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -4px;
  margin-top: -4px;
  background-color: #fff;
}

.action-container {
  display: flex;
  flex-direction: row;
  background-color: #fff
}

.map-container {
  width: 75%
}

.space-show {
  width:25%
}

.space-form form {
    background: white;
}

.space-container {
  width: 25%;
  overflow: auto;
  height: 87vh;
}

div.map-container > div:nth-of-type(1) {
  width: 100%!important;
  height:100%!important;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  display: none
}

.panel, .on {
  display: block
}

.geolocate-user {
  position: absolute!important;
  margin: 10!important
}

.addSpace.ui.icon.button {
  position: absolute;
  right:0;
  bottom: 0;
  height:50px;
  width:50px;
  font-size: 1.3rem;
  margin: 20px;
  background-color: #d6a464;
}

.toggle-style.ui.icon.button {
  position: absolute;
  right:66px;
  height:50px;
  width:50px;
  bottom: 0;
  font-size: 1.3rem;
  margin: 20px;
  background-color: #d6a464;
}

.addSpace.ui.circular.button {
  border-radius: 5px
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.setTime {
  text-align: center;
  margin:18px
}

.main-title.logo {
  font-size: 22px;
  margin: 10px;
  padding: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setTime input {
  border: 1px solid #e5d0d0;
  text-align: center;
  width: 25%;
  border-radius: 3px;
  font-size: 18px;
  margin: 4px;
  padding: 4px;
}

.filter-container {
  display: flex
}

.filter-field {
  display: flex;
  flex-direction: column;
}

.filter-column-1 {
  width: 25%;
  display: flex;
  align-items: center
}

.filter-column-2 {
  display: flex;
  justify-content: center;
  align-items: center
}

.filter-column-2 input {
  width: 673px;
  border: 1px solid #dfd9d9;
  border-radius: 3px;
  padding: 10px;
}

.filter-column-3  {
  display: flex;
  align-items: center;
  margin-left:10px
}

.filter-column-1 .filter-field {
  margin: 10px;
}

.filter-column-1 .button {
  margin: 10px;
  padding: 10px;
}

.react-mapbox-ac-menu {
  display: block;
  width: 673px!important;
  border-radius: 2px!important
}

.react-mapbox-ac-input {
  margin-top: 1.5rem
}
.react-mapbox-ac-suggestion:hover {
  background-color: #beccd4!important
}

.navbar {
  overflow: hidden;
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
}

.navbar a {
  float: left;
  font-size: 14px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  line-height: 12px
}

.dropdown {
  float: left;
  overflow: hidden;
}

.fa.fa-caret-down {
  margin-right: 10px
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropbtn {
  height: 40px;
  line-height: 40px;
  margin-right: 50px;
  color:white
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #b8b8b8;
}

.dropdown-content {
  display: none;
  position: absolute;
  right:0px;
  background-color: #333333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content.show {
  display: block;
}

.login-page {
  display: flex;
  flex-direction: row-reverse
}

.login-page .login-form {
  width: 75%;
  align-self:center;
  margin:10%;
}

.login-page > div:nth-of-type(2) {
  width: 60%!important;
  height:95vh!important;
}

.space-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px
}

.space-form .react-mapbox-ac-input{
  width: 500px;
  border: 1px solid #dfd9d9;
  border-radius: 3px;
  padding: 10px;
}

.space-form .react-mapbox-ac-menu {
  width: 500px!important;
}

.space-form form > div:nth-of-type(2) {
  width: 500px!important;
  height:450px!important
}

.space-form form {
  border: 1px solid #ede7e7;
  padding: 16px;
  border-radius: 19px;
}

.space-form button{
  margin-top: 20px!important
}

.space-form .streetview-image img {
  width: 100%;
  height: auto;
  max-width: 300px;
  min-width: 100px;
  margin: 10px;
}

.streetview-image {
  display: flex;
  flex-direction: column;
}

.directions .mapboxgl-map {
  top: 47px!important;
}

div.map-container.directions  > div:nth-of-type(1) {
  height: auto!important;
}

.notifications {
  padding: 10px;
  z-index: 3;
  position: absolute;
  width: 100%;
  background: white;
  border-bottom: 5px solid #b38282;
}

i.icon.envelope.outline {
  font-size: 28px;
  color: white;
  margin: 10px;
}

.ui.card, .ui.card:first-child  {
  margin: 1em;
  width:auto
}

.ui.card.on {
  background: #ddb3b333
}

.chat-container {
  max-height: 20vh;
  overflow: auto;
  display:flex;
  flex-direction: column-reverse!important
}

.newMessageForm {
  padding: 10px
}

img.parking-image {
  width:100%
}

.active-space-container {
  width: 25%;
  height: 95vh
}

.active-space-container.double {
  width: 50%;
  display: flex
}

.active-space-container.double > .active-space-chattable,
.active-space-container.double > .active-space-info  {
  width: 50%
}

.active-space-info {
  padding:10px
}

.active-space-chattable .chat-container {
  max-height: 85vh;
  overflow: auto;
  display:flex;
  flex-direction: column-reverse!important
}

/* .action-container {
  height: 95vh;
} */

.active-space-chattable > .ui.card {
  height: 90vh;
  justify-content: flex-end;
}

.active-space-info > .ui.fluid.button {
  margin: 10px 0px
}

.ui.menu {
  border-radius: 0px;
  margin-bottom:0px
}

.messagesArea {
  display: flex;
  flex-flow: column;
  align-items: flex-end
}

.messagesArea > .event {
  display: flex;
  padding:3px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 3px
}

.messagesArea > .event.message-received {
  align-self: flex-start;
}

#active-message {
  margin: 0px;
  padding:13px;
  border-radius:0px;
  -webkit-box-shadow:none;
  box-shadow:none
}

#active-message > i.close.icon {
  right: 4px;
  top:2px;
}

.ui.card:last-child {
  margin-bottom: 10px
}
.parked-buttons a {
  margin: 10px
}

.ui.card>.messagesArea > .event>.content {
  padding: 7px
}

.messagesArea > .event > .content {
  padding:3px
}

.main-title {
  font-family: 'Righteous', cursive;
  font-size:50pt;
  font-size: 35pt;
  text-transform: uppercase;
}

.form-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.car {
  transform: scale(0.7);
}
.car__body {
  animation: shake 0.2s ease-in-out infinite alternate;
}
.car__line {
  transform-origin: center right;
  stroke-dasharray: 22;
  animation: line 0.8s ease-in-out infinite;
  animation-fill-mode: both;
}
.car__line--top {
  animation-delay: 0s;
}
.car__line--middle {
  animation-delay: 0.2s;
}
.car__line--bottom {
  animation-delay: 0.4s;
}

@keyframes shake {
  0% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(3%);
  }
}
@keyframes line {
  0% {
    stroke-dashoffset: 22;
  }
  25% {
    stroke-dashoffset: 22;
  }
  50% {
    stroke-dashoffset: 0;
  }
  51% {
    stroke-dashoffset: 0;
  }
  80% {
    stroke-dashoffset: -22;
  }
  100% {
    stroke-dashoffset: -22;
  }
}
.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10
}

.ui.attached.bottom.button > .car, .addSpace > .car  {
  font-size:1.3em;
  transform: none;
}

body {
  background: url(https://img.freepik.com/free-vector/silhouette-skyline-illustration_53876-78792.jpg?size=626&ext=jpg);
  background-size: c;
  background-repeat-y: no-repeat;
  background-position: bottom;
}

.favorites-container {
  display: flex;
  justify-content:center;
  align-items:center;
  margin-bottom: 10px;
}

.favorites-form {
  display: flex;
  align-items: center;
}

.favorites-form >label {
  margin-right:10px!important
}

.cancel-favorites {
  margin-left:10px!important
}

.algolia-places > .ap-input-icon.ap-icon-pin, .algolia-places > .ap-input-icon.ap-icon-clear {
  margin:0px!important
}

.space-form > form > .input-container {
  margin: 10px 0px;
}
